
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.springframework.ide.eclipse.prefs
target/classes/application.properties
target/classes/com/yann/demo/apiservice/IUserApi.class
target/classes/com/yann/demo/controller/TestController.class
target/classes/com/yann/demo/entity/User.class
target/classes/com/yann/demo/framework/annotation/ApiServer.class
target/classes/com/yann/demo/framework/beans/MethodInfo.class
target/classes/com/yann/demo/framework/beans/ServerInfo.class
target/classes/com/yann/demo/framework/handler/WebClientRestHandler.class
target/classes/com/yann/demo/framework/interfaces/ProxyCreator.class
target/classes/com/yann/demo/framework/interfaces/RestHandler.class
target/classes/com/yann/demo/framework/proxy/JDKProxyCreator$1.class
target/classes/com/yann/demo/framework/proxy/JDKProxyCreator.class
target/classes/com/yann/demo/WebfluxClientApplication$1.class
target/classes/com/yann/demo/WebfluxClientApplication.class
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.example/webflux-client/pom.properties
target/classes/META-INF/maven/com.example/webflux-client/pom.xml
target/test-classes/com/yann/demo/WebfluxClientApplicationTests.class
